.footer {
  background-color: #6200ea;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
